@font-face {
    font-family: Montserrat;
    src: url(../Fonts/Montserrat-Regular.ttf);
}

body {
    background-image: url(../Images/R2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
}
.container h1 {
    font-family: Montserrat;
    text-align: center;
    font-family: cursive;
}
.mother {
    width: 320px;
    height: 420px;
    background:#203354;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px;
    border-radius: 5px;
} 
.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.mother h2 {
    margin: 0%;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
} 
.mother p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.mother input {
    width: 100%;
    margin-bottom: 20px;
}
.mother input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height:40px ;
    color: white;
    font-size: 16px;
}
.mother input[type="submit"]{
    border: none ;
    outline: none;
    height: 40px;
    background: #7dbcde ;
    color: white ;
    font-size: 18px;
    border-radius: 20px;
}
.mother input[type="submit"]:hover {
    cursor: pointer;
    background: gray;
    color: black;
}
.mother a { 
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}
.mother a:hover {
 color: skyblue;
}
